@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #11141c; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2a2e3b; 
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4a4f63; 
}

.cursor-wait {
  cursor: wait;
}